@import "./variables";

div.label {
    display: inline-flex;
    margin-right: 0.5em;
    background-color: white;
    border-radius: 5px;
    padding: 0.4em;
    text-align: center;

    .label-text {
        color: $font-ui-neo;
        font-size: 12px;
        width: 100%;
    }
}