@import "./variables";
$font-stack: Helvetica, sans-serif;

body {
	font: 100% $font-stack;
	color: $primary-color;
	margin: unset;

	// background: rgb(247, 247, 247);
	// background: linear-gradient(330deg, rgba(247, 247, 247, 1) 0%, rgba(255, 255, 255, 1) 45%);

	min-height: 100vh;
}

* {
	box-sizing: content-box;
}

a,
p {
	text-decoration: none;
	color: $font-ui-neo;
}

.neo {
	background: #ffffff;
	box-shadow: 5px 5px 16px #e6e6e6, -5px -5px 16px #ffffff;
}

.neo-inner {
	background: #ffffff;
	box-shadow: inset 5px 5px 16px #ebebeb, inset -5px -5px 16px #ffffff;
}

.shadow {
	-webkit-box-shadow: 10px 10px 53px -17px rgba(163, 163, 163, 1);
	-moz-box-shadow: 10px 10px 53px -17px rgba(163, 163, 163, 1);
	box-shadow: 10px 10px 53px -17px rgba(163, 163, 163, 1);
}
