@import "./variables";


.project-page {
    overflow-x: hidden;
    padding: 1em;
    
    .back-button { 
        display: inline-block;
        padding: 0.3em;
        border-radius: 10px;
        svg {
            fill: $font-ui-neo;
            &:hover {
                fill: $accent-color;
            }
        }

        color: $font-ui-neo;
    }

	.header {
        margin-top: 1em;
        margin-bottom: 0.5em;
        padding-top: 1em;
        border-radius: 10px;
		.title {
            margin: 0;
		}
    }
    

	.image-row {
		display: flex;
		margin-top: 1em;
        justify-content: flex-start;
        height: 100px;
		.half {
            width: 100px;
            height: 100%;
            position: relative;
            border-radius: 10px;
            &:first-child {
                margin-right: 10px;

            }
			img {
				position: absolute;
				width: 60%;
				height: auto;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
    }
	.text-row {
		display: flex;
        margin: 1em 0;
        border-radius: 10px;
		.title {
			width: 30%;
			display: flex;
			flex-direction: column;
            align-items: flex-start;
            padding: 20px;
            position: relative;
            flex-grow: 1;

            img {
                margin-bottom: 5px;
            }

            h2 {
                margin: 0;
                display: inline;
            }
		}
		.content {
			display: flex;
			flex-direction: column;
            justify-content: center;
            padding: 20px;

            &.labels {
                flex-direction: row;
                width: 100%;
                justify-content: flex-end;
                .label {
                    border-radius: 10px;
                    flex-direction: column;
                    justify-content: center;
                    max-width: fit-content;
                }
            }
		}
    }

    .text-column {
        margin: 1em 0;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        img {
            margin: 0;
            margin-bottom: 5px;
        }
        .title {
            flex-direction: column;
            padding: 0;
            display: block;
            max-width: 35%;

            h2 {
                margin: 0;
                margin-bottom: 10;
            }

        }
        .content {
            margin-top: 0.5em;
            padding: 0;
            display: block;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                hr {
                    border-top: 1px solid lightgray;
                }
                li {
                    margin-bottom: 0.5em;
                    padding: 5px;
                    border-radius: 10px;
                }
            }

        }
    }
    
    p {
        margin: 0;

    }

    .dashboard-row {
        margin-top: 1em;
		width: 100%;
        display: inline-flex;
        
        .col-1 {
			width: 70%;
            height: auto;
        }

        .col-2 {
			width: 30%;
			padding-left: 1em;
			display: flex;
			flex-direction: column;
            justify-content: space-between;
        }
    }
}

@media all and (min-width: 1082px) {
    .project-page {
        padding: 1em 10%;
        max-width: 1200px;
        margin: auto;
    }
}